.section {
    &-hiw {
        padding: 65px 0 225px;
    }

    &-infocollec {

        @media (min-width: 1201px) {
            // min-height: 800px;
        }
    }

    &-aptlisting {
        padding: 0;

        .container {
            padding: 0;
            max-width: 100%;
        }
    }

    &-hero-banner-contact .hero-banner-img::after {
        display: none;
    }

    @media (min-width: 1201px) {

        &-hero-banner-contact .hero-banner,
        &-hero-banner-enquiry .hero-banner {
            height: 988px;
        }
    }
}

.hiw {
    .section-head {
        margin-bottom: 130px;
    }

    &-row {
        margin-bottom: 66px;
    }

    &-cont {
        position: relative;
        padding-left: 102px;
        width: 488px;
        max-width: 100%;
    }

    &-num {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 52px;
        height: 52px;
        line-height: 52px;
        border-radius: 50%;
        font-family: $font-1;
        font-size: 40px;
        font-weight: 400;
        color: #fff;
        background-color: $color-red;
        text-align: center;
    }

    .heading {
        margin-bottom: 36px;
    }

    p {
        font-family: $font-1;
        font-size: 23px;
        font-weight: 300;
    }
}

.team {
    .section-head {
        margin-bottom: 68px;
    }

    &-row {
        margin-left: -6px;
        margin-right: -6px;
    }

    &-col {
        padding: 0 6px 26px;
    }

    &-card {
        &-row {
            margin-left: -4.5px;
            margin-right: -4.5px;
        }

        &-col {
            padding: 38px 4.5px;

            &:first-child {
                // padding: 38px 40px;
            }
        }

        &-img {
            width: 310px;
            max-width: 100%;
            @include margin-auto;
            height: 358px;

            img {
                @include imgfit;
            }
        }

        &-cont {
            p {
                font-family: $font-1;
                font-size: 23px;
                font-weight: 300;
            }
        }

        &-name {
            font-family: $font-1;
            font-size: 38px;
            font-weight: 400;
            margin-bottom: 12px;
        }

        &-job {
            font-family: $font-1;
            font-size: 26px;
            font-weight: 400;
            margin-bottom: 37px;
        }

        &-footer {
            display: flex;
            width: 100%;
        }

        &-link {
            font-family: $font-1;
            font-size: 23px;
            border-bottom: 1px solid $color-light-black;
        }

        &-social {
            margin-left: auto;

            a {
                display: inline-block;
                width: 44px;
                height: 44px;
                line-height: 34px;
                font-family: $font-1;
                font-size: 23px;
                font-weight: 400;
                text-align: center;
                border: 1px solid $color-dark-gray;
                border-radius: 50%;

                &:not(:last-child) {
                    margin-right: 10px;
                }
            }

            img {
                width: 21px;
                height: 21px;
            }
        }
    }
}

.infocollec {
    z-index: 1;
    position: relative;

    @media (min-width: 1201px) {
        &-pullup {
            margin-top: -920px;
        }

        &-row {
            display: flex;
        }

        &-col {
            &-infobox {
                width: 392px;
            }

            &-infoform {
                padding-left: 151px;
                flex: auto;
            }
        }

        .infoform {
            padding-bottom: 600px;
        }
    }

    @media (max-width: 1200px) and (min-width: 992px) {
        &-pullup {
            margin-top: -337px;
        }
    }

    @media (max-width: 991px) and (min-width: 767px) {
        &-pullup {
            margin-top: -295px;
        }
    }

    @media (max-width: 767px) {
        &-pullup {
            margin-top: -230px;
        }
    }
}

.infobox {
    &-cont {
        width: 100%;
        max-width: 392px;
    }

    .logo {
        width: 100%;
        max-width: 157px;
        margin-bottom: 43px;
    }

    .divider {
        width: 100%;
        border-bottom: 1px solid $color-sub;

        &-1 {
            margin-top: 43px;
            margin-bottom: 29px;
        }

        &-2 {
            margin-top: 44px;
            margin-bottom: 44px;
        }
    }

    span {
        color: $color-main;
        display: block;
        font-family: $font-1;
        font-size: 23px;
        font-weight: 600;
        margin-bottom: 36px;
        line-height: 33px;

        a {
            &:hover {
                color: $color-sub;
            }
        }
    }

    h3 {
        color: $color-main;
        font-family: $font-1;
        font-size: 45px;
        font-weight: 600;
        line-height: 50px;
    }

    @media (max-width: 991px) {
        margin-bottom: 40px;
    }

    @media (max-width: 767px) {
        .logo {
            max-width: 120px;
            margin-bottom: 20px;
        }

        .divider {
            margin: 20px 9;
        }

        span {
            font-size: 20px;
            margin-bottom: 15px;
            line-height: normal;
        }

        h3 {
            font-size: 32px;
            line-height: normal;
        }
    }
}

.infoform {

    // @include margin-auto;
    input::placeholder,
    .select2-container--default .select2-selection--single .select2-selection__rendered,
    .homeenq-form-box-location-btn {
        font-weight: 300;
    }

    .homeenq-form-wrap {
        padding: 25px 42px;
        width: 100%;
        max-width: 658px;
        background-color: #fff;
        border-radius: 25px;
        box-shadow: 0 0 10px rgba(#000, .16);
    }

    .homeenq-form-selectjs {
        // margin-bottom: 23px;
    }

    &-contact {

        .heading-mini,
        .form-notice p {
            color: #000;
            font-weight: 300;
        }

        .form-notice {
            border: 1px solid $color-dark-gray;
        }

        .homeenq-form-wrap {
            padding-bottom: 91px;
        }

        button[type="submit"] {
            margin-top: 102px;
        }
    }

    input.hasDatepicker {

        &,
        &::placeholder {
            font-weight: 300;
        }
    }

    @media (min-width: 1201px) {
        z-index: 1;
        position: relative;


    }

    @media (max-width: 1200px) {}
}

.aptlisting {
    &-form-wrap {
        padding: 34px 9px 21px 21px;
    }

    &-filter {
        padding: 34px 9px 21px 21px;

        &-form {
            &-row {
                display: flex;
                margin-left: -7.5px;
                margin-right: -7.5px;
            }

            &-col {
                padding: 0 7.5px;
                flex: auto;

                &:nth-child(1) {
                    width: 131.67px;
                }

                &:nth-child(2) {
                    width: 305px;
                }

                &:nth-child(3) {
                    width: 371px;
                }

                &:nth-child(4) {
                    width: 387px;
                }
            }

            input:not([type="submit"]) {
                max-width: 100%;
            }

            input:not([type="submit"]),
            input::placeholder,
            .select2-container--default .select2-selection--single .select2-selection__rendered {
                font-weight: 300 !important;
            }

            .form-group {
                margin-bottom: 0;
            }

            .homeenq-form-box,
            .homeenq-form-box-location .form-group,
            .homeenq-form-box {
                padding: 0;
            }

            .homeenq-form-box {
                margin-bottom: 0;
            }

            .homeenq-form-box .form-group-hasicon .select2 {
                padding-left: 39px;
            }

            .homeenq-form-box .form-group-icon {
                left: 12.6px;
            }

            .select2-container--default .select2-selection--single .select2-selection__rendered {
                padding-right: 32px;
                padding-left: 9px;
            }

            .select2-container .select2-selection--single,
            .homeenq-form-box-date input:not([type="submit"]) {
                height: auto;
            }

            &-col:nth-child(3) .select2-container--default .select2-selection--single .select2-selection__rendered {
                padding-top: 6px;
                padding-bottom: 12px;
                padding-left: 0;
                padding-right: 20px;
            }

            &-col:nth-child(3) .homeenq-form-box-row {
                flex-wrap: nowrap;
            }

            &-col:nth-child(3) .homeenq-form-box-col:nth-child(1) {
                width: 45%;
            }

            &-col:nth-child(3) .homeenq-form-box-col:nth-child(2) {
                width: 20%;
            }

            &-col:nth-child(3) .homeenq-form-box-col:nth-child(3) {
                width: 35%;
            }

            &-col:nth-child(4) .homeenq-form-box-date input:not([type="submit"]) {}

            .homeenq-form-selectjs .select2-selection__arrow {
                right: 7px !important;
            }

            .homeenq-form-box-date .form-group-hasicon {
                padding-left: 0px;
            }

            .homeenq-form-box input:not([type="submit"]) {
                padding-left: 74px;
                padding-top: 6px;
                padding-bottom: 12px;
            }
        }
    }

    &-sorting {}

    &-body {
        padding: 40px 44px 30px;

        &-row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    &-inner &-body {
        padding-right: 11px;
    }

    &-inner &-body-enquire {
        width: 100%;
        max-width: 526px;
    }

    &-inner &-banner {
        padding-top: 54.4px;
    }

    &-card {
        padding: 36px 32px 61px;
        border: 1px solid #f7f7f7;
        transition: all .2s ease-in;

        &:hover {
            box-shadow: 0 0 10px rgba(#000, .16);
        }

        &-row {
            margin-left: -6px;
            margin-right: -6px;
        }

        &-col {
            padding-left: 6px;
            padding-right: 6px;
            margin-bottom: 20px;
        }

        &-media {
            position: relative;
            margin-bottom: 26px;
        }

        .fav-btn {
            z-index: 1;
            position: absolute;
            top: 29px;
            right: 27px;
            width: 25px;
            height: 22px;
            cursor: pointer;

            svg {
                width: 100%;
                height: 100%;

                path {
                    transition: all .2s ease-in;
                }
            }

            &.active {
                animation: bounce 1s forwards;
            }

            &.active svg path {
                fill: $color-red;
                stroke: $color-red
            }
        }

        &-slider {
            .slick {
                &-arrow {
                    z-index: 1;
                    width: 31px;
                    height: 31px;

                    svg {
                        width: 100%;
                        height: 100%;
                    }

                    &::before {
                        display: none;
                    }
                }

                &-prev {
                    left: 18px;
                }

                &-next {
                    right: 18px;
                }

                &-dots {
                    z-index: 1;
                    bottom: 24px;

                    li {
                        width: 14px;
                        height: 14px;
                        border: 1px solid #fff;
                        border-radius: 50%;
                        margin-left: 0;
                        margin-right: 8px;

                        button {
                            width: 100%;
                            height: 100%;
                        }

                        &.slick-active {
                            background-color: #fff;
                        }
                    }
                }
            }
        }

        &-img {
            width: 100%;
            height: 268px;

            img {
                @include imgfit
            }
        }

        &-text {
            position: relative;
            margin-bottom: 15px;
        }

        &-title {
            font-family: $font-1;
            font-size: 23px;
            font-weight: 800;
            margin-bottom: 5.4px;
        }

        &-subtitle {
            font-family: $font-1;
            font-size: 23px;
            font-weight: 400;
        }

        &-price {
            font-family: $font-1;
            font-size: 23px;
            font-weight: 800;
        }

        &-details {
            display: flex;
            text-align: center;
            margin-bottom: 41px;
        }

        &-detail {
            flex: 0 0 33.3333%;

            img {
                margin-right: 10px;
            }

            &:not(:last-child) {
                border-right: 1px solid $color-red;
            }
        }

        &-btn {
            font-family: $font-1;
            font-size: 23px;
            font-weight: 600;
            width: 100%;
            color: #fff;
            background-color: $color-sub;
            padding: 5px 10px 8.5;
            border-color: transparent;
            cursor: pointer;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% + 64px);
            transition: all .2s ease-in;

            &:hover,
            &:focus {
                background-color: $color-main;
                outline: none;
            }
        }

        @media (min-width: 992px) {
            &-price {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }

    &-side {}

    &-map {
        iframe {
            width: 100%;
            height: 100vh;
        }
    }

    &-banner {
        text-align: center;
        padding: 78px 20px 54px;

        &-head {
            max-width: 446px;
            @include margin-auto;
            margin-bottom: 46.4px;

            .heading {
                color: $color-red;
                font-weight: 300;
                opacity: .3;

                &-mini {
                    font-size: 20px;
                    font-weight: 300;
                    margin-bottom: 10px;
                }
            }
        }

        &-links {
            max-width: 444px;
            @include margin-auto;
        }

        &-link {
            font-family: $font-1;
            font-size: 23px;
            font-weight: 400;
            padding: 6.7px 41px 10px;
            margin-bottom: 10.4px;
            border-radius: 6px;
            white-space: nowrap;
            display: inline-block;
            border: 1px solid $color-dark-gray;
            margin-bottom: 10.4px;
        }

        &-footer {
            margin-top: 54px;
        }

    }

    &-breadcrumbs {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;
        color: #ADADAD;
        font-family: $font-1;
        font-size: 20px;
        font-weight: 300;

        li {
            display: inline-block;

            &:not(:last-child)::after {
                content: ">";
                display: inline-block;
                padding: 0 20px;
            }
        }
    }

    &-nav {
        position: relative;
        display: flex;
        padding: 26px 146px 32px 44px;
        text-align: center;
        background-color: #F7F7F7;
        font-family: $font-1;
        font-size: 23px;
        font-weight: 300;

        >* {
            flex: auto;
        }

        &-wrap {
            z-index: 9;
        }

        &-stuck & {
            box-shadow: 0 0 6px rgba(#000, .16);
        }

        &-arrow {

            // width: 30%;
            img {
                display: inline-block;
                vertical-align: middle;
                width: 23px;
                height: 11.5px;
            }
        }

        &-title {
            border: 1px solid $color-dark-gray;
            border-width: 0 1px;
        }

        &-prev {
            img {
                margin-right: 30px;
            }
        }

        &-next {
            img {
                margin-left: 30px;
            }
        }

        &-title {}

        &-exit {
            position: absolute;
            top: 50%;
            right: 45px;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }

    &-summary {
        &-img {
            position: relative;
            width: 100%;
            height: 519px;
            margin-bottom: 26.5px;

            img {
                @include imgfit
            }

            &-btn {
                position: absolute;
                right: 24px;
                bottom: 28px;
                font-family: $font-1;
                font-size: 20px;
                font-weight: 300;
                background-color: #fff;
                padding: 12px 12.6px;
                border-color: transparent;
                border-radius: 10px;

                >* {
                    display: inline-block;
                    vertical-align: middle;
                }

                img {
                    width: auto;
                    height: 22px;
                    margin-right: 5.7px;
                }
            }
        }

        &-head {
            position: relative;
            margin-bottom: 47px;
            padding-right: 70px;

            &-text {
                position: relative;
                margin-bottom: 15px;
            }

            &-title {
                font-family: $font-1;
                font-size: 38px;
                font-weight: 800;
                margin-bottom: 5.4px;
            }

            &-subtitle {
                font-family: $font-1;
                font-size: 36px;
                font-weight: 400;
            }

            &-price {
                font-family: $font-1;
                font-size: 23px;
                font-weight: 800;
            }

            @media (min-width: 992px) {
                &-price {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }

        &-graphic {
            margin-bottom: 57px;

            span {
                font-family: $font-1;
                font-size: 32px;
                font-weight: 300;
                position: relative;
                display: inline-block;
                margin-right: 31px;

                img {
                    margin-right: 10px;
                }
            }
        }

        &-interact {
            display: inline-block;
            border-radius: 10px;
            padding: 10px 17px;
            margin-bottom: 50px;
            background-color: #fff;
            box-shadow: 0 3px 10px rgba(#000, .16);

            button {
                width: 78px;
                text-align: center;
                background-color: transparent;
                border-color: transparent;
                cursor: pointer;

                &:not(:last-child) {
                    border-right: 1px solid $color-dark-gray;
                }
            }
        }

        &-cont {
            margin-bottom: 53.3px;

            .heading-mini {
                margin-bottom: 54px;
            }

            p {
                font-size: 23px;
                font-weight: 300;
            }

            .link-common {
                font-family: $font-1;
                font-size: 20px;
                font-weight: 700;
                color: $color-red;

                &::after {
                    border-bottom-color: $color-red;
                }
            }
        }

        &-features {
            margin-bottom: 52.4px;

            .heading-mini-light {
                margin-bottom: 59px;
            }

            &-list {
                padding-left: 0;
                margin-bottom: 0;
                margin-bottom: 38.5px;
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;

                li {
                    font-family: $font-1;
                    font-size: 23px;
                    font-weight: 300;
                    width: 33.333%;
                    position: relative;
                    padding: 0 10px 0 48px;
                    margin-bottom: 35px;

                    img {
                        position: absolute;
                        top: 8px;
                        left: 0;
                        width: auto;
                    }

                    span {
                        margin-left: auto;
                    }
                }

            }

            .link-box {
                background-color: $color-sub;
            }
        }
    }

    &-similar {
        margin-top: 168.4px;
        padding-left: 33px;
        padding-right: 43px;

        .section-head {
            margin-bottom: 34.5px;
        }

        .locationchoice-slider {
            margin-bottom: 0;
        }

        .locationchoice-slider .slick-next,
        .locationchoice-slider .slick-prev {
            bottom: calc(100% + 5px);
        }

        .slick-dots {
            display: none;
        }
    }

    &-enquire-form-wrap {}

    .infoform {
        width: 100%;
        max-width: 488px;
        margin-top: 37.2px;
        margin-left: 0;
        margin-right: 0;

        .homeenq-form-wrap {
            padding: 20px 51px 67px 40px;
        }

        .heading-sub {
            margin-bottom: 27.4px;
        }

        p {
            font-size: 23px;
            font-weight: 300;
        }

        .homeenq-form {
            margin-top: 30px;
        }

        .homeenq-form-box {
            margin-bottom: 30px;
        }

        button[type="submit"] {
            font-size: 23px;
            font-weight: 400;
            background-color: $color-sub;
        }
    }

    @media (min-width: 1201px) {
        &-row {
            display: flex;
            margin: 0;
        }

        &-main {
            z-index: 1;
            position: relative;
            width: 100%;
            max-width: 1274px;
            box-shadow: 0 3px 10px rgba(#000, .16);
        }

        &-side {
            width: calc(100% - 1274px);
        }

        &-inner &-body-row {
            display: flex;
        }

        &-inner &-body-summary,
        &-inner &-body-enquire {
            width: 100%;
        }

        &-inner &-body-summary {
            flex: auto;
            padding-right: 113px;
        }

    }

    @media (min-width: 1201px) and (max-width: 1500px) {
        &-main {
            max-width: 1000px;
        }

        &-side {
            flex: auto;
        }

        &-inner &-body-summary {
            padding-right: 40px;
        }

        &-inner &-body-enquire {
            max-width: 400px;
        }
    }

    @media (max-width: 1500px) {
        &-summary {
            &-head {
                &-title {
                    font-size: 32px;
                }

                &-subtitle {
                    font-size: 22px;
                }
            }
        }

        &-filter {
            &-form {
                &-row {
                    flex-wrap: wrap;
                }

                &-col {
                    margin-bottom: 10px;

                    &:nth-child(1) {
                        width: 30%;
                    }

                    &:nth-child(2) {
                        width: 70%;
                    }

                    &:nth-child(3) {
                        width: 60%;
                    }

                    &:nth-child(4) {
                        width: 40%;
                    }
                }
            }
        }

    }

    @media (max-width: 1200px) {
        &-summary {
            &-img {
                height: 320px;
            }
        }

        &-filter {
            &-form {
                &-col {
                    &:nth-child(4) {
                        width: 100%;
                    }
                }
            }
        }

        &-map iframe {
            width: 100%;
            height: 400px;
        }
    }

    @media (max-width: 1200px) and (min-width: 992px) {
        &-filter-form .homeenq-form-box-date .homeenq-form-box-col {
            flex: 0 0 50%;
        }
    }

    @media (max-width: 991px) {
        &-nav {
            flex-wrap: wrap;

            &-arrow {
                &-link {
                    display: block;
                }

                img {
                    width: 15px;
                    height: auto;
                    margin: 0;
                }
            }

            &-title {
                border: 0;
            }

            &-text {
                display: none;
            }

        }
    }

    @media (max-width: 767px) {

        &-body {
            padding-left: 20px;
            padding-right: 20px;
        }

        &-summary-features-list li {
            width: 50%;
        }
    }

    @media (max-width: 567px) {
        &-nav {
            padding-left: 20px;
            padding-right: 80px;

            &-arrow {
                flex: 0 0 15px;
            }

            &-exit {
                right: 15px;
            }
        }

        &-filter-form-col {
            width: 100% !important;
        }

        &-summary-features-list li {
            width: 100%;
        }

        &-card {
            &-slider {
                .slick {
                    &-dots {
                        bottom: 12px;

                        li {
                            width: 12px;
                            height: 12px;
                        }
                    }

                    &-prev {
                        left: 10px;
                    }

                    &-next {
                        right: 10px;
                    }
                }
            }

            &-img {
                height: 200px;
            }
        }

        &-banner-link {
            font-size: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}