.section {
    &-hiw {
        padding: 65px 0 225px;
    }

    &-infoform {
        padding-bottom: 236px;
    }

    &-aptlisting {
        padding: 0;

        .container {
            padding: 0;
            max-width: 100%;
        }
    }
}

.hiw {
    .section-head {
        margin-bottom: 130px;
    }

    &-row {
        margin-bottom: 66px;
    }

    &-cont {
        position: relative;
        padding-left: 102px;
        width: 488px;
        max-width: 100%;
    }

    &-num {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 52px;
        height: 52px;
        line-height: 52px;
        border-radius: 50%;
        font-family: $font-1;
        font-size: 40px;
        font-weight: 400;
        color: #fff;
        background-color: $color-red;
        text-align: center;
    }

    .heading {
        margin-bottom: 36px;
    }

    p {
        font-family: $font-1;
        font-size: 23px;
        font-weight: 300;
    }
}

.team {
    .section-head {
        margin-bottom: 68px;
    }

    &-row {
        margin-left: -6px;
        margin-right: -6px;
    }

    &-col {
        padding: 0 6px 26px;
    }

    &-card {
        &-col {
            padding: 38px 4.5px;

            &:first-child {
                // padding: 38px 40px;
            }
        }

        &-img {
            width: 310px;
            max-width: 100%;
            @include margin-auto;
            height: 358px;

            img {
                @include imgfit;
            }
        }

        &-cont {
            p {
                font-family: $font-1;
                font-size: 23px;
                font-weight: 300;
            }
        }

        &-name {
            font-family: $font-1;
            font-size: 38px;
            font-weight: 400;
            margin-bottom: 12px;
        }

        &-job {
            font-family: $font-1;
            font-size: 26px;
            font-weight: 400;
            margin-bottom: 37px;
        }

        &-footer {
            display: flex;
            width: 100%;
        }

        &-link {
            font-family: $font-1;
            font-size: 23px;
            border-bottom: 1px solid $color-light-black;
        }

        &-social {
            margin-left: auto;

            a {
                display: inline-block;
                width: 44px;
                height: 44px;
                line-height: 34px;
                font-family: $font-1;
                font-size: 23px;
                font-weight: 400;
                text-align: center;
                border: 1px solid $color-dark-gray;
                border-radius: 50%;

                &:not(:last-child) {
                    margin-right: 10px;
                }
            }

            img {
                width: 21px;
                height: 21px;
            }
        }
    }
}

.infoform {
    width: 100%;
    max-width: 658px;
    @include margin-auto;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(#000, .16);

    input::placeholder,
    .select2-container--default .select2-selection--single .select2-selection__rendered,
    .homeenq-form-box-location-btn {
        font-weight: 300;
    }

    .homeenq-form-wrap {
        padding: 25px 42px;
    }

    .homeenq-form-selectjs {
        margin-bottom: 23px;
    }

    &-contact {
        .homeenq-form-wrap {
            padding-bottom: 91px;
        }

        button[type="submit"] {
            margin-top: 102px;
        }
    }

    @media (min-width: 1201px) {
        z-index: 1;
        position: relative;
        margin-top: -825px;
    }

    @media (max-width: 1200px) {}
}

.aptlisting {
    &-form-wrap {
        padding: 34px 9px 21px 21px;
    }

    &-filter {
        padding: 34px 9px 21px 21px;

        &-form {
            &-row {
                display: flex;
                margin-left: -7.5px;
                margin-right: -7.5px;
            }

            &-col {
                padding: 0 7.5px;
                flex: auto;

                &:nth-child(1) {
                    width: 131.67px;
                }

                &:nth-child(2) {
                    width: 305px;
                }

                &:nth-child(3) {
                    width: 371px;
                }

                &:nth-child(4) {
                    width: 387px;
                }
            }

            input:not([type="submit"]) {
                max-width: 100%;
            }

            input:not([type="submit"]),
            input::placeholder,
            .select2-container--default .select2-selection--single .select2-selection__rendered {
                font-weight: 300 !important;
            }

            .form-group {
                margin-bottom: 0;
            }

            .homeenq-form-box,
            .homeenq-form-box-location .form-group,
            .homeenq-form-box {
                padding: 0;
            }

            .homeenq-form-box {
                margin-bottom: 0;
            }

            .homeenq-form-box .form-group-hasicon .select2 {
                padding-left: 39px;
            }

            .homeenq-form-box .form-group-icon {
                left: 12.6px;
            }

            .select2-container--default .select2-selection--single .select2-selection__rendered {
                padding-right: 32px;
                padding-left: 9px;
            }

            .select2-container .select2-selection--single,
            .homeenq-form-box-date input:not([type="submit"]) {
                height: auto;
            }

            &-col:nth-child(3) .select2-container--default .select2-selection--single .select2-selection__rendered {
                padding-top: 6px;
                padding-bottom: 12px;
                padding-left: 0;
                padding-right: 20px;
            }

            &-col:nth-child(3) .homeenq-form-box-row {
                flex-wrap: nowrap;
            }

            &-col:nth-child(3) .homeenq-form-box-col:nth-child(1) {
                width: 45%;
            }

            &-col:nth-child(3) .homeenq-form-box-col:nth-child(2) {
                width: 20%;
            }

            &-col:nth-child(3) .homeenq-form-box-col:nth-child(3) {
                width: 35%;
            }

            &-col:nth-child(4) .homeenq-form-box-date input:not([type="submit"]) {}

            .homeenq-form-selectjs .select2-selection__arrow {
                right: 7px !important;
            }

            .homeenq-form-box-date .form-group-hasicon {
                padding-left: 0px;
            }

            .homeenq-form-box input:not([type="submit"]) {
                padding-left: 74px;
                padding-top: 6px;
                padding-bottom: 12px;
            }
        }
    }

    &-row {
        display: flex;
        margin: 0;
    }

    &-sorting {}

    &-body {
        padding: 40px 44px 30px;
    }

    &-card {
        padding: 36px 32px 61px;
        border: 1px solid #f7f7f7;
        transition: all .2s ease-in;

        &:hover {
            box-shadow: 0 0 10px rgba(#000, .16);
        }

        &-row {
            margin-left: -6px;
            margin-right: -6px;
        }

        &-col {
            padding-left: 6px;
            padding-right: 6px;
            margin-bottom: 20px;
        }

        &-media {
            margin-bottom: 26px;
        }

        &-slider {
            .slick {
                &-arrow {
                    z-index: 1;
                    width: 31px;
                    height: 31px;

                    svg {
                        width: 100%;
                        height: 100%;
                    }

                    &::before {
                        display: none;
                    }
                }

                &-prev {
                    left: 18px;
                }

                &-next {
                    right: 18px;
                }

                &-dots {
                    z-index: 1;
                    bottom: 24px;

                    li {
                        width: 14px;
                        height: 14px;
                        border: 1px solid #fff;
                        border-radius: 50%;
                        margin-left: 0;
                        margin-right: 8px;

                        button {
                            width: 100%;
                            height: 100%;
                        }

                        &.slick-active {
                            background-color: #fff;
                        }
                    }
                }
            }
        }

        &-img {
            width: 100%;
            height: 268px;

            img {
                @include imgfit
            }
        }

        &-text {
            position: relative;
            margin-bottom: 15px;
        }

        &-title {
            font-family: $font-1;
            font-size: 23px;
            font-weight: 800;
            margin-bottom: 5.4px;
        }

        &-subtitle {
            font-family: $font-1;
            font-size: 23px;
            font-weight: 400;
        }

        &-price {
            font-family: $font-1;
            font-size: 23px;
            font-weight: 800;
        }

        &-details {
            display: flex;
            text-align: center;
            margin-bottom: 41px;
        }

        &-detail {
            flex: 0 0 33.3333%;

            img {
                margin-right: 10px;
            }

            &:not(:last-child) {
                border-right: 1px solid $color-red;
            }
        }

        &-btn {
            font-family: $font-1;
            font-size: 23px;
            font-weight: 600;
            width: 100%;
            color: #fff;
            background-color: $color-sub;
            padding: 5px 10px 8.5;
            border-color: transparent;
            cursor: pointer;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% + 64px);
            transition: all .2s ease-in;

            &:hover,
            &:focus {
                background-color: $color-main;
                outline: none;
            }
        }

        @media (min-width: 992px) {
            &-price {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }

    &-main {
        z-index: 1;
        position: relative;
        width: 100%;
        max-width: 1274px;
        box-shadow: 0 3px 10px rgba(#000, .16);
    }

    &-side {
        width: calc(100% - 1274px);


    }

    &-map {
        iframe {
            width: 100%;
            height: 100vh;
        }
    }

    &-banner {
        text-align: center;
        padding: 78px 20px 54px;

        &-head {
            max-width: 446px;
            @include margin-auto;
            margin-bottom: 46.4px;

            .heading {
                color: $color-red;
                font-weight: 300;
                opacity: .3;

                &-mini {
                    font-size: 20px;
                    font-weight: 300;
                    margin-bottom: 10px;
                }
            }
        }

        &-links {
            max-width: 444px;
            @include margin-auto;
        }

        &-link {
            font-family: $font-1;
            font-size: 23px;
            font-weight: 400;
            padding: 6.7px 41px 10px;
            margin-bottom: 10.4px;
            border-radius: 6px;
            white-space: nowrap;
            display: inline-block;
            border: 1px solid $color-dark-gray;
            margin-bottom: 10.4px;
        }

        &-footer {
            margin-top: 54px;
        }

    }

    &-breadcrumbs {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;
        color: #ADADAD;
        font-family: $font-1;
        font-size: 20px;
        font-weight: 300;

        li {
            display: inline-block;

            &:not(:last-child)::after {
                content: ">";
                display: inline-block;
                padding: 0 20px;
            }
        }
    }

    &-nav {
        position: relative;
        display: flex;
        padding: 26px 146px 32px 44px;
        text-align: center;
        background-color: #F7F7F7;
        font-family: $font-1;
        font-size: 23px;
        font-weight: 300;

        >* {
            flex: auto;
        }

        &-arrow {

            // width: 30%;
            img {
                width: 23px;
                height: 11.5px;
            }
        }

        &-title {
            border: 1px solid $color-dark-gray;
            border-width: 0 1px;
        }

        &-prev {
            img {
                margin-right: 30px;
            }
        }

        &-next {
            img {
                margin-left: 30px;
            }
        }

        &-title {}

        &-exit {
            position: absolute;
            top: 50%;
            right: 45px;
            transform: translateY(-50%);
        }
    }
}